@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

body {
    font-family: "Poppins";
    background-color: white;
    text-align: center;
}

h1 {
    text-align: center;
    color: black;
    margin-bottom: .5rem;
}

h2 {
    text-align: center;
    color: black;
    margin-bottom: 2rem;
}

/*.input {
    width: 60%;
    height: 10%;
    padding: 1rem;
    border-radius: .5rem;
    border: 1.5px solid black;
    outline: none;
    margin-bottom: 2rem;
    transition: .2s;
}

input:focus {
    background-color: #f7f7f7;
}*/

/*.launch {
    font-weight: 600;
}*/

/*.launch, i {
    font-weight: 600;
    color: black;
    text-decoration: none;
    transition: .2s;
}

.launch:hover i{
    transform: translateX(.25rem);
}*/

input[type="button"] {
    background: linear-gradient(135deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,250,69,1) 100%);
    background-repeat: no-repeat;
    background-size: 400% 400%;
    border: none;
    border-radius: .5rem;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    transition: .5s;
    box-shadow: 2px 2px 8px #999;
}

    input[type="button"]:hover {
        background-position: 100% 100%;
    }

.result {
    box-shadow: 2px 2px 8px #999;
    font-family: 'Space Mono';
    margin: 0 auto;
    margin-top: 5rem;
    background-color: #f7f7f7;
    width: 70%;
    height: 70%;
    min-height: 50%;
    border-radius: .5rem;
    padding: 2rem 2rem;
    transition: .2s;
}

.result:focus {
    border: 2px solid black;
}

/*code {
    text-align: left;
    margin-top: 5rem;
    background-color: #ebebeb;
    color: black;
    padding: 2px 2px;
    border-radius: 2px;
}*/

.command {
    margin-bottom: 2rem;
    width: 15rem;
    height: 35px;
    padding: 4px;
    border-radius: 4px;
    box-shadow: 2px 2px 8px #999;
    background: white;
    border: none;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

label {
    position: relative;
}

label:after {
    content: "<>";
    font: 11px "Consolas", monospace;
    color: #666;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 8px;
    top: 2px;
    padding: 0 0 2px;
    border-bottom: 1px solid #ddd;
    position: absolute;
    pointer-events: none;
}

label:before {
    content: "";
    right: 6px;
    top: 0px;
    width: 20px;
    height: 20px;
    background: white;
    position: absolute;
    pointer-events: none;
    display: block;
}
