@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>🚀 • CL app</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>Command Launcher</h1>

    <h2>The easier way to launch a command</h2>
    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Launch">
        <input type="text" placeholder="Write your command here..." id="Command" cols="0" rows="10" class="input" name="Command" />
        <br />
        @*<a asp-action="Launch" class="launch">Launch <i class='bx bx-chevron-right'></i></a>*@
        <input type="button" id="btnLaunch" value="Launch" />
    </form>

    <textarea id="taResult" rows="15" cols="40" class="result">
        @ViewData["Text"]
    </textarea>


    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
</body>
</html>


<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>